#register {
	background-color: #DCDCDC;
	border-radius: 1rem;
	margin: auto; /* align center */ 
	max-width: 50rem;
	padding: 2rem 2rem 3rem 2rem;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	text-align: center;
}

#command { float: left; padding-left: 2rem; }
#rank { float: left; padding-left: 2rem; }
#outgoingKind { float: left; padding-left: 2rem; }
#outgoingType { float: left; padding-left: 2rem; }
#submit {  }
#date { float: left; padding-left: 6rem; margin-bottom: 3rem; }
#date > input { width: 45%; display: initial; }
.form-control {
	width: 65%;
	margin: auto;
}
