#register {
	background-color: #DCDCDC;
	border-radius: 1rem;
	margin: auto; /* align center */ 
	max-width: 50rem;
	padding: 2rem 2rem 12rem 2rem;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	text-align: center;
}

#command { float: left; padding-left: 8rem; }
#rank { float: left; padding-left: 8rem; }
#outgoingKind { float: left; padding-left: 8rem; }
#outgoingType { float: left; padding-left: 8rem; }

.form-control {
	width: 65%;
	margin: auto;
}
