#register {
	background-color: #DCDCDC;
	border-radius: 1rem;
	margin: auto; /* align center */ 
	max-width: 50rem;
	padding: 2rem 2rem 2rem 2rem;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	text-align: center;
}

.form-control {
	width: 50%;
	margin: auto;
}
